---
import Layout from "@layouts/MainLayout.astro";
import { Content, frontmatter } from "@content/pages/tehumardi-ounaaed.md";
import ContainerSection from "@components/ContainerSection.astro";
import ImageGrid from "@components/ImageGrid.astro";
import Hr from "@lib/components/Hr.astro";

const title = frontmatter.title;
const imageFiles = await Astro.glob("/src/assets/images/tehumardi/*");
---

<Layout {title}>
  <ContainerSection>
    <div class="mt-10">
      <h1>{frontmatter.title}</h1>

      <div class="mt-10">
        <Content />
      </div>

      <Hr />

      <ImageGrid path="/tehumardi-ounaaed/images/" files={imageFiles} />

      <Hr />

      <div class="pb-6"></div>
    </div>
  </ContainerSection>
</Layout>
