---
import { Content, frontmatter } from "@content/sections/suurna.md";
import ContainerSection from "@components/ContainerSection.astro";
---

<ContainerSection>
  <p>{frontmatter.title}</p>
  <p>Written by: {frontmatter.author}</p>
  <Content />
</ContainerSection>
