---
import { getEntry, render } from "astro:content";
import SectionView from "@lib/components/SectionView.astro";
import LinkImage from "@components/LinkImage.astro";

import image from "@assets/images/main/asukoht.jpg";

const content = await getEntry("sections", "asukoht");
const { Content } = await render(content);
---

<SectionView color="dark">
  <h2 class="text-center text-ka-light">{content.data.title}</h2>

  <div class="mt-8 sm:mt-14 md-text text-ka-light">
    <Content />
  </div>

  <div class="mt-16">
    <LinkImage path="/asukoht/image" {image} alt="Kaart" />
  </div>
</SectionView>
