---
import { Picture } from "astro:assets";
import Section from "@lib/components/ContainerSection.astro";
import { Content, frontmatter } from "@content/sections/asukoht.md";

import image from "@assets/images/asukoht.png";
---

<Section id={frontmatter.id} borderColor="accent">
  <h2 class="text-center">{frontmatter.title}</h2>

  <div class="mt-8 sm:mt-14 md-text">
    <Content />
  </div>

  <div class="mt-10">
    <Picture src={image} formats={["avif", "webp"]} alt="A description of my image." />
  </div>
</Section>
