---
import PatternSection from "@lib/components/PatternSection.astro";
import ImageGrid from "@components/ImageGrid.astro";
import { Content, frontmatter } from "@content/sections/lisa.md";

const imageFiles = await Astro.glob("../../assets/images/lisa/*");
---

<PatternSection id={frontmatter.id}>
  <h2>{frontmatter.title}</h2>

  <div class="mt-10 md-text">
    <Content />
  </div>

  <ImageGrid path="/lisa/images/" files={imageFiles} />
</PatternSection>
