---
import Section from "@lib/components/ContainerSection.astro";
import ImageGrid from "@components/ImageGrid.astro";
import { Content, frontmatter } from "@content/sections/lisa.md";

const imageFiles = await Astro.glob("../../assets/images/lisa/*");
---

<Section id={frontmatter.id} bgColor="bg-ka-accent" borderColor="dark">
  <h2>{frontmatter.title}</h2>

  <div class="mt-10 md-text">
    <Content />
  </div>

  <ImageGrid path="/lisa/images/" files={imageFiles} />
</Section>
