---
import { getEntry } from "astro:content";
import SectionView from "@lib/components/SectionView.astro";
import ImageGrid from "@components/ImageGrid.astro";

const content = await getEntry("sections", "lisa");
const { Content } = await content.render();

const imageFiles = await Astro.glob("../../assets/images/lisa/*");
---

<SectionView color="light">
  <h2 class="text-center">{content.data.title}</h2>

  <div class="mt-8 sm:mt-14 md-text">
    <Content />
  </div>

  <ImageGrid path="/lisa/images/" files={imageFiles} />
</SectionView>
