---
import { Picture } from "astro:assets";
import { Content, frontmatter } from "@content/sections/lisa.md";
import ContainerSection from "@components/ContainerSection.astro";
import ImageGrid from "@components/ImageGrid.astro";

const imageFiles = await Astro.glob("/src/assets/images/lisa/*");
---

<ContainerSection id={frontmatter.id}>
  <h2>{frontmatter.title}</h2>

  <div class="mt-10">
    <Content />
  </div>

  <ImageGrid path="/lisa/images/" files={imageFiles} />
</ContainerSection>
