---
import Section from "@lib/components/ContainerSection.astro";
import ContactAccordion from "@lib/components/ContactAccordion.svelte";
import { Content, frontmatter } from "@content/sections/lopp.md";
---

<Section id={frontmatter.id}>
  <div class="mt-8 sm:mt-14">
    <Content />
  </div>

  <div id="kontakt" class="mt-10">
    <ContactAccordion client:load />
  </div>
</Section>
