---
import { getEntry } from "astro:content";
import SectionView from "@lib/components/SectionView.astro";
import ContactAccordion from "@lib/components/ContactAccordion.svelte";

const content = await getEntry("sections", "lopp");
const { Content } = await content.render();
---

<SectionView border={false}>
  <!-- TEXT -->
  <div class="md-text">
    <Content />
  </div>

  <div id="kontakt" class="mt-10">
    <ContactAccordion client:load />
  </div>
</SectionView>

<style>
  .h4 {
    @apply text-2xl;
  }

  .md-text h3 {
    @apply mt-16;
  }
</style>
