---
import PatternSection from "@lib/components/PatternSection.astro";
import ContactAccordion from "@lib/sections/ContactAccordion.svelte";
import { Content, frontmatter } from "@content/sections/lopp.md";
---

<PatternSection id={frontmatter.id}>
  <div class="mt-8 sm:mt-14">
    <Content />
  </div>

  <div id="kontakt" class="mt-10">
    <ContactAccordion client:load />
  </div>
</PatternSection>
