---
import MainSectionView from "@lib/components/MainSectionView.astro";
import { getEntry } from "astro:content";

import TehumardiLogo from "@lib/components/gfx/TehumardiLogo.astro";
const content = await getEntry("sections", "ounaaiad");
---

<MainSectionView color="secondary" textColor="light" {content}>
  <!-- TEHUMARDI LOGO -->
  <div class="flex w-full justify-center mt-16">
    <TehumardiLogo class="fill-ka-light max-w-96" />
  </div>
</MainSectionView>
