---
import ContainerSection from "@components/ContainerSection.astro";
import Hr from "@lib/components/Hr.astro";
---

<ContainerSection>
  <!-- TEXT -->
  <div class="mt-10 md-text">
    <p>
      Kahes õunaaias kokku on käesoleval hetkel kasvamas ca 17500 õunapuud ja lisaks väiksem arv väga saagikaid ploomipuid. Aedade
      saagipotentsiaal on ca 200 tonni õunu. Tänase päevani oleme suutnud igal hooajal enda saagi edukalt realiseerida eelkõige
      jaekaubanduses. Väikese osa õuntest oleme sisseostetava teenusena pressinud suurepärase maitsega mahlaks, mida samuti edukalt
      turustame “Tehumardi” kaubamärgi all. Teistelt kasvatajatelt toorainet sisse ostes oleme lasknud valmistada ka maitsvaid “Tehumardi”
      segumahlasid, mis on saanud klientidelt väga head tagasisidet.
    </p>

    <p>
      Tarbija armastab meie kasvatatud õunu. Tuuakse välja, et õunad on ilusad ja väga heamaitselised. Selle tagab nii aedade õige hooldus,
      õnnestunud sortide valik kui ka Saaremaa suurepärane kliima - teiste Eesti piirkondadega võrreldes on siin oluliselt rohkem
      päikesepaiste tunde aastas, mis suurendab suhkrute osakaalu ja seega annab magusamad viljad. Kadastiku Õunaaed on alates tegevuse
      algusest võtnud eesmärgiks kasvatada kvaliteetset lauaõuna ja kliendid oskavad seda hinnata. Õunu ostetakse meilt nii jaekaupluste
      kaudu, e-poest, kohapealt hoidlast ja samuti oleme korraldanud Saaremaal menukaid kaubaringe, millega huvilised saavad liituda.
    </p>
  </div>

  <Hr />
</ContainerSection>
