---
import Section from "@lib/components/ContainerSection.astro";
import TehumardiIcon from "@lib/components/gfx/TehumardiLogo.astro";
import { Content, frontmatter } from "@content/sections/ounaaiad.md";
---

<Section bgColor="bg-ka-main" borderColor="light">
  <!-- TEXT -->
  <div class="text-ka-dark md-text">
    <Content />
  </div>

  <!-- TEHUMARDI LOGO -->
  <div class="mt-12 flex w-full justify-center">
    <TehumardiIcon class="fill-ka-light max-w-96" />
  </div>
</Section>
