---
import KadastikuLogo from "@lib/components/gfx/KadastikuLogo.astro";
import Sale from "@lib/components/gfx/Sale.astro";
---

<script>
  import { gsap } from "gsap";

  let inited = false;
  let saleElement: HTMLElement;
  let saleInElement: HTMLElement;
  let logoElement: HTMLElement;

  function init() {
    saleElement = document.querySelector("#sale-gfx");
    saleInElement = document.querySelector("#sale-gfx-inner");
    logoElement = document.querySelector("#kadastiku-logo");

    if (!saleElement || !saleInElement || !logoElement) return;

    // PLAY ONLY ONCE
    if (!inited) {
      gsap.set(saleElement, { scale: 0 });
      gsap.to(saleElement, {
        scale: 1,
        delay: 0.5,
        duration: 1,
        ease: "elastic.out(1,0.3)",
      });

      gsap.set(logoElement, { opacity: 0 });
      gsap.to(logoElement, {
        opacity: 1,
        duration: 1,
        delay: 0.1,
      });
    }

    gsap.from(saleInElement, {
      delay: 0,
      duration: 2,
      repeat: -1,
      keyframes: {
        scale: [1, 0.95, 1],
      },
    });

    inited = true;
  }

  // REMOVE TWEENS
  document.addEventListener("astro:before-swap", (event) => {
    gsap.killTweensOf("#sale-gfx");
    gsap.killTweensOf("#sale-gfx-inner");
  });

  // ADD TWEENS
  document.addEventListener("astro:after-swap", () => {
    init();
  });

  init();
</script>

<section class="flex flex-col sm:flex-row justify-center scale-90 sm:scale-100 items-center pt-6">
  <div id="sale-gfx" class="relative sm:-right-10">
    <div id="sale-gfx-inner">
      <Sale class="w-full sm:w-56" />
    </div>
  </div>
  <div id="kadastiku-logo" class="relative">
    <KadastikuLogo class="w-full sm:w-72" />
  </div>
</section>
