---
import { Picture } from "astro:assets";
import { Content, frontmatter } from "@content/sections/tehumardi.md";
import ContainerSection from "@components/ContainerSection.astro";

import image from "@assets/images/tehumardi/YvKHiUmA.png";
---

<ContainerSection id={frontmatter.id}>
  <div class="mt-16">
    <h2>{frontmatter.title}</h2>

    <div class="mt-10">
      <Content />
    </div>

    <div class="mt-10">
      <a href={frontmatter.link}>
        <Picture src={image} formats={["avif", "webp"]} alt="A description of my image." />
      </a>
    </div>
  </div>
</ContainerSection>
