---
import { Picture } from "astro:assets";
import { Content, frontmatter } from "@content/sections/tere.md";
import ContainerSection from "@components/ContainerSection.astro";

import riho from "@assets/images/main/riho-main.png";
---

<ContainerSection>
  <div class="">
    <!-- TITLE -->
    <h2 class="text-30vw leading-0 sm:leading-none sm:text-[9rem] sm:-ml-[200px] xl:text-[9rem] relative text-center">
      {frontmatter.title}
    </h2>

    <!-- IMAGE -->
    <Picture
      src={riho}
      formats={["avif", "webp"]}
      alt="Riho"
      class="text-mask w-full sm:w-[60vw] sm:max-w-[500px] mt-8 sm:-mt-8 mb-8 float-right"
    />

    <!-- TEXT -->
    <div class="md-text">
      <Content />
    </div>
  </div>
</ContainerSection>

<style define:vars={{ mask: `url("${riho.src}")` }}>
  .text-mask {
    @apply scale-100;
    shape-outside: none;
  }

  /* SM */
  @media (min-width: 640px) {
    .text-mask {
      /* @apply scale-95; */
      shape-outside: var(--mask);
      shape-image-threshold: 0.9;
      shape-margin: 2rem;
    }
  }
</style>
