---
import { getEntry } from "astro:content";
import SectionView from "@lib/components/SectionView.astro";
import MaskedImage from "@lib/components/MaskedImage.astro";
// import MainSectionView from "@lib/components/MainSectionView.astro";

import image from "@assets/images/main/riho.jpg";
import mask from "@assets/svg/mask-circle.svg";
const content = await getEntry("sections", "tere");
const { Content } = await content.render();
---

<SectionView color="" borderColor="light">
  <!-- TITLE -->
  <h2 class="relative -mt-16 sm:-mt-28 text-[25vw] leading-0 sm:leading-none sm:text-[7rem] sm:-ml-[100px] text-center">
    {content.data.title}
  </h2>

  <!-- IMAGE -->
  <div class="mt-2 sm:mt-4 w-full sm:w-[60vw] lg:w-[40vw] xl:w-[500px] float-right text-mask">
    <MaskedImage image={image} mask={mask} />
  </div>

  <!-- TEXT -->
  <div class="mt-8 sm:mt-14 md-text text-left">
    <Content />
  </div>
</SectionView>

<style define:vars={{ mask: mask && `url("${mask.src}")` }}>
  .text-mask {
    @apply scale-90;
    shape-outside: none;
  }

  @media (min-width: 640px) {
    .text-mask {
      /* @apply scale-95; */
      shape-outside: var(--mask);
    }
  }
</style>
