---
import { Content, frontmatter } from "@content/sections/suurna.md";
import Section from "./Section.astro";
---

<Section>
  <p>{frontmatter.title}</p>
  <p>Written by: {frontmatter.author}</p>
  <Content />
</Section>
