---
import Layout from "@layouts/MainLayout.astro";
import PatternSection from "@lib/components/PatternSection.astro";
import ImageGrid from "@components/ImageGrid.astro";
import { Content, frontmatter } from "@content/pages/villa.md";

const title = frontmatter.title;
const imageFiles = await Astro.glob("../../assets/images/villa/*");
---

<Layout {title}>
  <PatternSection>
    <h1 class="mt-6">{frontmatter.title}</h1>

    <div class="mt-10 md-text">
      <Content />
    </div>

    <ImageGrid path="/villa/images/" files={imageFiles} />
  </PatternSection>
</Layout>
