---
import Layout from "@layouts/MainLayout.astro";
import ContainerSection from "@components/ContainerSection.astro";
import ImageGrid from "@components/ImageGrid.astro";
import { Content, frontmatter } from "@content/pages/villa.md";

const title = frontmatter.title;
const imageFiles = await Astro.glob("/src/assets/images/villa/*");
---

<Layout {title}>
  <ContainerSection>
    <h1>{frontmatter.title}</h1>

    <div class="pt-10">
      <Content />
    </div>

    <ImageGrid path="/villa/images/" files={imageFiles} />
  </ContainerSection>
</Layout>
