---
import MainLayout from "../layouts/MainLayout.astro";

import WelcomeSection from "@components/sections/WelcomeSection.astro";
import SuurnaSection from "@components/sections/SuurnaSection.astro";
import TehumardiSection from "@components/sections/TehumardiSection.astro";
import VideoSection from "@components/sections/VideoSection.astro";
---

<MainLayout title="Home Page">
  <h1>Astro</h1>

  <WelcomeSection />

  <VideoSection />
  <SuurnaSection />
  <TehumardiSection />

  <h3>Tutvu allpool sellega, mida pakun Kadastiku Õunaaia uuele pererahvale.</h3>
</MainLayout>
