---
import { Picture } from "astro:assets";
import MagnifyIcon from "@assets/svg/MagnifyIcon.astro";

// const data = {
//   './assets/avatar-1.jpg': () => import('./assets/avatar-1.jpg'),
//   './assets/avatar-2.png': () => import('./assets/avatar-2.png'),
//   './assets/avatar-3.jpeg': () => import('./assets/avatar-3.jpeg')
// }

const images = await Astro.glob("@assets/suurna/*");

console.log(images);
---

<!-- PICTURES -->{
  images && (
    <div class="grid gap-2 mt-12 sm:grid-cols-2 lg:grid-cols-3">
      {images.map((image, index) => (
        <div
          class={`group relative bg-neutral-500 overflow-hidden max-h-64 ${index == 2 && "lg:row-span-2 lg:max-h-full"} ${index == 3 && "lg:col-span-2"}`}>
          {/* <a href={`/image/${picture.id}`} class="cursor-pointer"> */}
          <Picture src={image.default} formats={["avif", "webp"]} alt="A description of my image." />

          {/* </a> */}

          <div class="absolute inset-0 flex items-center justify-center pointer-events-none">
            <MagnifyIcon class="text-white transition duration-500 opacity-0 size-24 group-hover:opacity-50 group-hover:scale-75" />
          </div>
        </div>
      ))}
    </div>
  )
}
