/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "walsheim";
    src: url("/GT-Walsheim.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "walsheim";
    src: url("/GT-Walsheim-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

  .smooth-scroll {
    scroll-behavior: smooth;
  }

  html,
  body {
    @apply h-full m-0 p-0;
  }

  body {
    @apply text-base sm:text-17 m-0 bg-ka-light text-ka-dark;
  }

  ul {
    @apply list-disc;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  dt,
  label,
  th {
    @apply font-walsheim uppercase leading-none;
  }

  p {
    @apply font-walsheim;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-8vw sm:text-5xl leading-normal;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  label {
    @apply text-base  uppercase;
  }

  th {
    @apply font-medium;
  }

  ::selection {
    @apply bg-ka-dark text-ka-light;
  }

  ul {
    @apply mt-8 first:mt-0 lg:columns-2;
    column-gap: 50px;
  }

  li {
    @apply font-walsheim text-lg;
  }

  ul li {
    list-style: none;
    position: relative;
    padding: 0px 0 18px 25px;
  }

  ul li::before {
    content: "✱";
    position: absolute;
    top: 0px;
    left: 0;
  }

  h3 {
    @apply mt-2;
  }

  .md-text h3,
  .md-text h4,
  .md-text h5 {
    @apply mt-8 sm:mb-3 first:mt-0;
  }

  .md-text p {
    @apply text-xl mt-4 first:mt-0;
  }

  .md-text p em {
    @apply not-italic font-bold;
  }
}

@layer components {
}
