---
import Section from "@components/Section.astro";

interface Props {
  id?: string;
  grain?: boolean;
}

const { id = "", grain } = Astro.props;
---

<Section {id} {grain}>
  <div class="max-w-6xl px-4 xl:px-0 sm:mx-auto">
    <slot />
  </div>
</Section>
