---
import Section from "@components/Section.astro";

interface Props {
  id?: string;
  grain?: boolean;
  bgColor?: "cream" | "cream-dark" | "green";
}

const { id = "", bgColor = "cream", grain } = Astro.props;
---

<Section {id} {grain} {bgColor}>
  <div class="max-w-5xl px-6 mx-auto bg-white relative">
    <slot />
  </div>
</Section>
