---
import Section from "@components/Section.astro";

interface Props {
  id?: string;

  bgColor?: "cream" | "cream-dark" | "green";
}

const { id = "", bgColor = "cream" } = Astro.props;
---

<!-- <Section {id} {bgColor}> -->
<section {id}>
  <!-- <div class="absolute bg-red-400 w-[200vw]"></div> -->
  <div class="py-16 px-6 max-w-5xl mx-auto">
    <slot />
  </div>
</section>
<!-- </Section> -->
