---
import gfx from "@assets/images/gfx/side-gfx-438.png";
---

<div class="relative">
  <!-- TOP GFX -->
  <div class="absolute w-full h-full overflow-hidden">
    <div class="gfx absolute -top-12 sm:top-12 left-0 w-full max-w-[438px] h-[350px]"></div>
  </div>

  <!-- BOTTOM GFX -->
  <div class="absolute w-full h-full overflow-hidden">
    <div class="gfx absolute -right-24 bottom-0 -scale-100 w-full max-w-[438px] h-[350px]"></div>
  </div>

  <!-- CONTENT -->
  <slot />
</div>

<style define:vars={{ gfx: `url("${gfx.src}")` }}>
  .gfx {
    background: var(--gfx);
    /* background-size: 438px;
    background-position: top right; */
  }
</style>
