<div class="relative px-6 max-w-5xl mx-auto">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full h-[1px] bg-neutral-500"></div>
  </div>
  <div class="relative flex justify-center items-center">
    <span class="bg-neutral-700 border size-2 border-neutral-500 rotate-45 mx-1"></span>
    <span class="bg-neutral-700 border size-3 border-neutral-500 rotate-45 mx-1"></span>
    <span class="bg-neutral-700 border size-2 border-neutral-500 rotate-45 mx-1"></span>
  </div>
</div>
