<div class="relative py-10 sm:py-14">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full border-t border-ka-red"></div>
  </div>
  <div class="relative flex justify-center items-center">
    <span class="bg-zinc-700 border size-2 border-zinc-400 rotate-45 mx-1"></span>
    <span class="bg-zinc-700 border size-3 border-zinc-400 rotate-45 mx-1"></span>
    <span class="bg-zinc-700 border size-2 border-zinc-400 rotate-45 mx-1"></span>
  </div>
</div>
