---
import { Picture } from "astro:assets";
import MagnifyIcon from "./icons/IconMagnify.astro";
import { getImageIdFromPath } from "@lib/utils";

interface Props {
  files: any;
  path: string;
}

const { files, path } = Astro.props;

const images = files.map((file) => {
  const image = file.default;
  const src = image.src;
  const id = getImageIdFromPath(src);
  return { image, src, id };
});
---

<!-- PICTURES -->{
  images && (
    <div class="relative grid gap-2 mt-12 sm:grid-cols-2 lg:grid-cols-3 ">
      {images.map((image, index: number) => (
        <div
          class={`image group relative bg-ka-dark rounded-xl overflow-hidden max-h-64 outline-none -outline-offset-2 has-[:focus]:outline-ka-main has-[:focus]:outline has-[:focus]:outline-4 ${index % 2 == 0 && "lg:row-span-2 lg:max-h-full"} ${index % 7 == 0 && "lg:col-span-2"}`}>
          <a href={`${path}${image.id}`} class="cursor-pointer">
            <Picture
              src={image.image}
              alt={`Image number ${index}`}
              class="object-cover w-full h-full"
              formats={["avif", "webp"]}
              widths={[400, 700, 1000, image.image.width]}
              sizes="(min-width: 640px) 50vw, (min-width: 1024px) 500px, 100vw"
            />
          </a>
          <div class="absolute inset-0 flex items-center justify-center pointer-events-none">
            <MagnifyIcon class="text-white size-24 opacity-0 transition duration-500 group-hover:opacity-50 group-hover:scale-75" />
          </div>
        </div>
      ))}
    </div>
  )
}
