---
import { Picture } from "astro:assets";
import MagnifyIcon from "@assets/svg/MagnifyIcon.astro";

const files = await Astro.glob("@assets/images/suurna/*");

const images = files.map((file) => {
  const image = file.default;
  const src = image.src;
  const id = src.substring(src.lastIndexOf("images/") + 7, src.lastIndexOf("?")).replace("/", "-"); // id = folder-filename.ext
  return { image, src, id };
});
---

<!-- class={`image group relative bg-neutral-500 overflow-hidden max-h-64 ${index == 2 && "lg:row-span-2 lg:max-h-full"} ${index == 3 && "lg:col-span-2"}`}> -->
<section>
  <!-- PICTURES -->
  {
    images && (
      <div class="grid gap-2 mt-12 sm:grid-cols-2 lg:grid-cols-3">
        {images.map((image, index) => (
          <div
            class={`image group relative bg-neutral-500 overflow-hidden max-h-64 ${index % 2 == 0 && "lg:row-span-2 lg:max-h-full"} ${index % 7 == 0 && "lg:col-span-2"}`}>
            <a href={`/image/${image.id}`} class="cursor-pointer">
              <Picture src={image.image} formats={["avif", "webp"]} alt="A description of my image." class=" object-cover w-full h-full" />
            </a>

            <div class="absolute inset-0 flex items-center justify-center pointer-events-none">
              <MagnifyIcon class="text-white transition duration-500 opacity-0 size-24 group-hover:opacity-50 group-hover:scale-75" />
            </div>
          </div>
        ))}
      </div>
    )
  }
</section>

<!-- <style>
  .image:nth-child(even) {
    @apply lg:row-span-2 lg:max-h-full;
  }
</style> -->
