---
import pattern from "@assets/images/gfx/pattern2.png";
---

<div class="relative flex">
  <div class="bg-pattern bg-left g-left w-[5%] lg:w-[10%]"></div>
  <!-- <div class="absolute h-full w-[10vw] bg-pattern"></div>
  <div class="absolute h-full w-[10vw] right-0 bg-pattern"></div> -->
  <div class="w-[90%] lg:w-[80%]">
    <slot />
  </div>
  <div class="bg-pattern bg-right w-[5%] lg:w-[10%]"></div>
</div>

<style define:vars={{ pattern: `url("${pattern.src}")` }}>
  .bg-pattern {
    background: var(--pattern);
    background-size: 300px;
    background-position: top right;
    opacity: 0.1;
    /* mix-blend-mode: multiply; */
  }
  .bg-left {
    background-position: top right;
  }
  .bg-right {
    background-position: top left;
  }

  /* .bg-pattern:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: var(--pattern);
    background-size: 300px;
    opacity: 0.1;
  } */
  .red-tint {
    /* filter: invert(16%) sepia(76%) saturate(5940%) hue-rotate(340deg) brightness(89%) contrast(101%); */
    filter: invert(16%) sepia(76%) saturate(5940%) hue-rotate(340deg) brightness(89%) contrast(101%);
  }
</style>
