---
import { Picture } from "astro:assets";

interface Props {
  image: any;
  mask: any;
}

const { image, mask } = Astro.props;
---

<div class="mask scale-90">
  <Picture src={image} formats={["avif", "webp"]} alt="Robots" class="w-full h-full" />
</div>

<style define:vars={{ mask: `url("${mask.src}")` }}>
  .mask {
    mask-image: var(--mask);
    mask-size: contain;
    mask-position: center center;
    mask-repeat: no-repeat;
  }

  .yellow {
    filter: invert(89%) sepia(92%) saturate(6418%) hue-rotate(358deg) brightness(108%) contrast(106%);
  }

  .red {
    filter: invert(20%) sepia(243%) saturate(1576%) hue-rotate(-21deg) brightness(137%) contrast(73%);
  }
</style>
