---
import { Picture } from "astro:assets";

interface Props {
  image: any;
  mask: any;
}

const { image, mask } = Astro.props;
---

<div class="mask scale-90">
  <Picture src={image} formats={["avif", "webp"]} alt="Robots" class="w-full h-full" />
</div>

<style define:vars={{ mask: `url("${mask.src}")` }}>
  .mask {
    mask-image: var(--mask);
    mask-size: contain;
    mask-position: center center;
    mask-repeat: no-repeat;
  }

  /* .tint {
    position: relative;
    float: left;
    cursor: pointer;
  }

  .tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(110, 200, 170, 0.6);

    transition: background 0.3s linear;
  }

  .tint:hover:before {
    background: none;
  } */
</style>
