---
import { Picture } from "astro:assets";
import CircleSVG from "@lib/components/gfx/CircleSVG.astro";

interface Props {
  image: any;
  mask: any;
  bgColor?: SiteColor; // Colors have to be in tailwind safelist
  lazy?: boolean;
}

const { image, mask, bgColor = "accent", lazy = true } = Astro.props;
---

<div class="relative w-full h-full scale-90">
  <CircleSVG class="absolute w-full h-full top-2 left-1" class:list={[`fill-ka-${bgColor}`]} />

  <div class="mask">
    <Picture
      src={image}
      formats={["avif", "webp"]}
      alt="Robots"
      class="w-full h-full"
      loading=`${lazy ? "lazy" : "eager"}`
      widths={[400, 800]}
      sizes="(min-width: 640px) 800px, 100vw"
    />
  </div>
</div>

<style define:vars={{ mask: `url("${mask.src}")` }}>
  .mask {
    mask-image: var(--mask);
    mask-size: contain;
    mask-position: center center;
    mask-repeat: no-repeat;
  }
</style>
