---
interface Props {
  id?: string;
  class?: string;
}

const { id = "", class: classsName } = Astro.props;
---

<section {id} class:list={classsName}>
  <div class="w-full sm:w-[90%] lg:w-[80%] max-w-5xl mx-auto">
    <div class="py-16 sm:py-24 px-8 pointer-events-auto">
      <slot />
    </div>
  </div>
</section>
