---
interface Props {
  id?: string;
  mp4?: string;
  webm?: string;
}

const { id = "", mp4, webm } = Astro.props;
---

<script>
  import { pauseVideosWhenOutOfView } from "@lib/utils";

  function init() {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "https://vjs.zencdn.net/8.16.1/video.min.js";
    document.body.appendChild(script);

    pauseVideosWhenOutOfView();
  }

  document.addEventListener("astro:after-swap", () => {
    init();
  });

  init();
</script>

<video
  {id}
  class="video-js"
  controls
  preload="auto"
  width="1920px"
  height="1080px"
  data-setup='{ "aspectRatio":"1920:1080" }'
  class="w-full">
  {mp4 && <source src={mp4} type="video/mp4" />}
  {webm && <source src={webm} type="video/webm" />}
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>
</video>
