---
import Layout from "../../layouts/MainLayout.astro";
import pattern from "@assets/images/gfx/pattern2.png";

import { Content, frontmatter } from "@content/pages/tehnika.md";
---

<Layout>
  <div class="relative">
    <div class="absolute w-full h-full top-0 flex mix-blend-multiply">
      <div class="bg-pattern bg-left g-left w-[10%] hidden sm:block"></div>
      <div class="w-full sm:w-[80%]"></div>
      <div class="bg-pattern bg-right w-[10%] hidden sm:block"></div>
    </div>

    <div>
      <div class="bg-white">
        <div class="w-full sm:w-[60%] mx-auto">
          <div class="text-black min-h-[50vh] py-12 px-2"><Content /></div>
        </div>
      </div>
      <div class="bg-lime-400">
        <div class="w-full sm:w-[60%] mx-auto">
          <div class="text-black min-h-[50vh] py-12 px-2"><Content /></div>
        </div>
      </div>
      <div class="bg-red-400">
        <div class="w-full sm:w-[60%] mx-auto">
          <div class="text-black min-h-[50vh] py-12 px-2"><Content /></div>
        </div>
      </div>
      <div class="bg-blue-400">
        <div class="w-full sm:w-[60%] mx-auto">
          <div class="text-black min-h-[50vh] py-12 px-2"><Content /></div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style define:vars={{ pattern: `url("${pattern.src}")` }}>
  .bg-pattern {
    background: var(--pattern);
    background-size: 300px;
    background-position: top right;
    opacity: 0.1;
    mix-blend-mode: revert;
  }
  .bg-left {
    background-position: top right;
  }
  .bg-right {
    background-position: top left;
  }
</style>
