---
import { Picture } from "astro:assets";
import Layout from "@layouts/PageLayout.astro";
import { Content, frontmatter } from "@content/sections/tere.md";
import ContainerSection from "@components/ContainerSection.astro";
import riho from "@assets/images/main/riho-main.png";
---

<Layout title="X">
  <ContainerSection>
    <div class="px-0 lg:px-24 h-full">
      <!-- TERE -->
      <h2 class="text-30vw leading-0 sm:leading-none sm:text-[9rem] sm:-ml-[100px] xl:text-[9rem] relative text-center">Tere</h2>

      <!-- IMAGE -->
      <Picture src={riho} alt="Riho" class="text-mask max-w-[500px] float-right" />

      <!-- TEXT -->
      <div class="md-text">
        <Content />
      </div>
    </div>
  </ContainerSection>
</Layout>

<style define:vars={{ mask: `url("${riho.src}")` }}>
  .text-mask {
    shape-outside: var(--mask);
    shape-margin: 2rem;
  }
</style>
